EXPO_PUBLIC_API_BASE_URL=https://api.dev-aura.r-e.kr
EXPO_PUBLIC_GOOGLE_OAUTH_REDIRECT_URI=aura-app://auth/callback
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=731620175876-oj02nccfc1r7uhtugip2l8tujf9qvajt.apps.googleusercontent.com
EXPO_PUBLIC_DEV_AURA_ACCESS_TOKEN=
